<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MosesDemo</title>
</head>
<body>
    <h1>Pharo Code Demo</h1>
    <form method="POST" action="">
        <table>
            <tbody>
                <tr>
                    <td class="boxText">Pharo Decompiled Code</td>
                    <td class="boxText">Pharo Renamed Code</td>
                </tr>
                <tr>
                    <td class="boxText">
                        <textarea name="source" cols="60" rows="5"></textarea>
                    </td>     
                    <td class="boxText">
                        <textarea readonly name="target" cols="60" rows="5"></textarea>
                    </td>              
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="page_type" value="translate">
        <input type="submit" value="Translate">
    </form>
</body>
</html>